<%= simple_form_for @recipe do |f| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= f.input :title, class:'form-control' %>
  </div>
  <div class="form-group">
  <%= f.input :description, class:'form-control' %>
  </div>

  <h5>Choose Products to Associate with this recipe</h5>
   <div class="field">
      <p>
    <%= hidden_field_tag "recipe[product_ids][]", nil %>
      <% Product.all.each do |cat| %>
        <%= check_box_tag "recipe[product_ids][]",  cat.id, @recipe.product_ids.include?(cat.id), id: dom_id(cat) %>
        <%= label_tag dom_id(cat), cat.title %>
        <%= link_to  "edit product", edit_product_path(cat.id) %><br>
      <% end %>
    </p>
    </div>

      <h3>Other Ingredients</h3>
      <div id='anyingredients'>
        <%= f.simple_fields_for :anyingredients do |anyingredient| %>
          <%= render 'anyingredient_fields', :f => anyingredient %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add anyingredients', f, :anyingredients %>
        </div>
      </div>

      <h3>Directions</h3>
      <div id='directions'>
        <%= f.simple_fields_for :directions do |direction| %>
          <%= render 'direction_fields', :f => direction %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Another', f, :directions, class: 'btn btn-success btn-sm' %>
        </div>
      </div>

 

      <h3>Image</h3>
        <p>
      	  <%= f.label :recipeimg %>
          <%= f.file_field(:recipeimg, {:class => 'form-control'}) %>
        </p>

 


  <%= f.button :submit %>
<% end %>

     <h3>Add Directions no cocoon</h3>
      <div id='directionss'>
        <%= form_tag(save_direction_path, method: :post) do %>
        step
          <%= text_field_tag :step %>
          <%= hidden_field_tag :recipe_id, @recipe.id %>
          <div><%= submit_tag 'Save' %></div>
        <% end %>
      </div>
    
      <h3>Remove Directions no cocoon</h3>
      <div id='directions-remove'>

          <% @recipe.directions.each do |direction| %>

            <%= form_tag(remove_direction_path, method: :post) do %>
              <%= direction.step %>
              <%= hidden_field_tag :recipe_id, @recipe.id %>
              <%= hidden_field_tag :direction_id, direction.id %>
              <div><%= submit_tag 'remove' %></div>
            <% end %>

           
          <% end %>
        
      </div>