<div class="row">
    <h1>Show Recipe Page</h1>
    <h2>
    <%= @recipe.title %>
    <small>
        <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
        <%= link_to 'Back', recipes_path %> |
        <%= link_to 'Delete', recipe_path,  method: :delete, data: {confirm: "are you sure?"} %>
    </small>
    </h2>
    <h3>Description:</h3>
    <p><%= @recipe.description %></p>


    <h3>Ingredients/Products</h3>
    <% @recipe.products.each do |p| %>
    <strong><%= link_to p.title, product_path(p) %></strong>
    <% end %><br>

   
</div>






