<p id="notice"><%= notice %></p>
<h1>Show Product</h1>
<h2>
  <%= @product.title %>
  <small>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </small>
</h2>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<h3>Categories</h3>

<% @product.categories.each do |cat| %>
  <strong><%= link_to cat.title, category_path(cat) %></strong><small> link should to to all products in this cat?</small>
<% end %><br>


